// Define variables for your color scheme

// For example:
$red: #ff0000;
$blue: #000ced;
$yellow: #fff800;
$orange: #ff8a00;
$green: #0f9b0f;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Define variables for your font scheme
$gradient-button-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(111,31,109,1) 35%, rgba(0,212,255,1) 100%);
