
.save-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  background: linear-gradient(135deg, #5170ff, #9e079b);
  border-color: #3498db;
  color: white;
  padding: 12px 24px;
  font-size: 1.1rem;
  border-radius: 50px; /* Rounded button */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    background: #705aed;
    transform: translateY(-2px);
  }

  transition: all 0.3s ease;

  .loading-spinner {
    font-size: 1.2rem;
  }

  &.saving {
    background-color: #2c81ba;
    pointer-events: none;
    opacity: 0.8;
  }
}

.preview-container {
  padding: 2rem;
  background-color: #f8f9fa;
}

.preview-header {
  text-align: center;
  margin-bottom: 2rem;

  h1 {
    font-weight: bold;
    color: #08111a;
  }

  h2 {
    color: #6c757d;
  }

  p {
    color: #6c757d;
    font-size: 1.1rem;
  }
}

.task-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #070117;
  margin-top: 1rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #343a40;
}

.activity-suggestions-title {
  color: black;
  margin-bottom: 1.5rem;
}

// This makes the scrollbar visible to avoid janky elements moving left when the scrollbar appears
.preview-scrollbar {
  overflow-y: scroll;
}
